---
---

<div class="mt-16 pt-8 border-t border-rz-border">
  <p class="font-mono text-xs text-rz-muted mb-6">// comments via github discussions</p>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="obrienma/cyber-rhizome-comments"
    data-repo-id="R_kgDOR5P7pA"
    data-category="Announcements"
    data-category-id="DIC_kwDOR5P7pM4C5_b8"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="dark_high_contrast"
    data-lang="en"
    crossorigin="anonymous"
    async
  ></script>
</div>
